body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
}
.container {
    width: 84%;
    margin: 0 auto;
}

.cabecalhoPrincipal-titulo a {
    text-decoration: none;
    color:tomato;
}

.cabecalhoPrincipal .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalhoNav a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 20px;
    color: tomato;
    font-weight: bold;
}

.imagens {
    display: grid;
    grid-template-areas:
        "conteudo";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 300px;
}

.conteudo {
       grid-area: conteudo;
}
